<%- partial('_partial/head') %>
<body>
  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
  <%- partial('_partial/nav') %>
  <%- body %>
</body>
</html>
